.FileSystem{
    .content{
        width: 900px;
        height: 600px;
        overflow-y: scroll;
        padding: 20px;
        box-sizing: border-box;
        border: 1px solid #cccccc;
    }
    .item{
        height: 40px;
        line-height: 40px;
        font-size: 24px;
        cursor: pointer;
        &:hover{
            background-color: #cccccc;
        }
    }
}