.weapp {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    .body{
        padding: 40px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .stepBar {

    }
    .pannel {
        width: 100%;
        display:flex;
        justify-content: space-between;
        padding: 0 40px;
    }
}