<template>
    <d2-container>
        <template slot="header">new page</template>
        Hello World
    </d2-container>
</template>
<script>
    export default {
        name:'{{name}}',
        data(){
            return {

            }
        },
        beforeCreated(){

        },
        created(){

        },
        mounted(){

        },
        methods:{

        }
    }
</script>