// 主题名称
$theme-name: '{{theme_name}}';
// 主题背景颜色
$theme-bg-color: {{theme_bg_color}};
// 主题背景图片遮罩
$theme-bg-mask: rgba({{theme_bg_mask}}, .3);

// container组件
$theme-container-background-color: rgba({{theme_container_background_color}}, .9);
$theme-container-header-footer-background-color: {{theme_container_header_footer_background_color}};
$theme-container-border-inner: 1px solid {{theme_container_border_inner}};
$theme-container-border-outer: 1px solid {{theme_container_border_outer}};

$theme-multiple-page-control-color: {{theme_multiple_page_control_color}};
$theme-multiple-page-control-color-active: {{theme_multiple_page_control_color_active}};
$theme-multiple-page-control-nav-prev-color: {{theme_multiple_page_control_border_color}};
$theme-multiple-page-control-nav-next-color: {{theme_multiple_page_control_border_color}};
$theme-multiple-page-control-border-color: {{theme_multiple_page_control_border_color}};
$theme-multiple-page-control-border-color-active: {{theme_multiple_page_control_border_color_active}};
$theme-multiple-page-control-background-color: rgba({{theme_multiple_page_control_background_color}}, .5);
$theme-multiple-page-control-background-color-active: {{theme_multiple_page_control_background_color_active}};

// 顶栏和侧边栏中展开的菜单 hover 状态下
$theme-menu-item-color-hover: {{theme_menu_item_color_hover}};
$theme-menu-item-background-color-hover: {{theme_menu_item_background_color_hover}};

// 顶栏上的文字颜色
$theme-header-item-color: {{theme_header_item_color}};
$theme-header-item-background-color: transparent;
// 顶栏上的项目在 hover 时
$theme-header-item-color-hover: {{theme_header_item_color_hover}};
$theme-header-item-background-color-hover: rgba({{theme_header_item_background_color_hover}}, .2);
// 顶栏上的项目在 focus 时
$theme-header-item-color-focus: {{theme_header_item_color_focus}};
$theme-header-item-background-color-focus: rgba({{theme_header_item_background_color_focus}}, .2);
// 顶栏上的项目在 active 时
$theme-header-item-color-active: {{theme_header_item_color_active}};
$theme-header-item-background-color-active: rgba({{theme_header_item_background_color_active}}, .3);

// 侧边栏上的文字颜色
$theme-aside-item-color: {{theme_aside_item_color}};
$theme-aside-item-background-color: transparent;
// 侧边栏上的项目在 hover 时
$theme-aside-item-color-hover: {{theme_aside_item_color_hover}};
$theme-aside-item-background-color-hover: rgba({{theme_aside_item_background_color_hover}}, .2);
// 侧边栏上的项目在 focus 时
$theme-aside-item-color-focus: {{theme_aside_item_color_focus}};
$theme-aside-item-background-color-focus: rgba({{theme_aside_item_background_color_focus}}, .2);
// 侧边栏上的项目在 active 时
$theme-aside-item-color-active: {{theme_aside_item_color_active}};
$theme-aside-item-background-color-active: rgba({{theme_aside_item_background_color_active}}, .3);

// 侧边栏菜单为空的时候显示的元素
$theme-aside-menu-empty-icon-color: {{theme_aside_menu_empty_icon_color}};
$theme-aside-menu-empty-text-color: {{theme_aside_menu_empty_text_color}};
$theme-aside-menu-empty-background-color: rgba({{theme_aside_menu_empty_background_color}}, .2);
$theme-aside-menu-empty-icon-color-hover: {{theme_aside_menu_empty_icon_color_hover}};
$theme-aside-menu-empty-text-color-hover: {{theme_aside_menu_empty_text_color_hover}};
$theme-aside-menu-empty-background-color-hover: rgba({{theme_aside_menu_empty_background_color_hover}}, .3);