
@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';
@primary-color: #66CCFF ; // 全局主色
@link-color: rgb(63, 167, 178); // 链接色
@success-color: #52c41a; // 成功色
@warning-color: #faad14; // 警告色
@error-color: #f5222d; // 错误色
@font-size-base: 14px; // 主字号
@heading-color: orange; // 标题色
@text-color: #000000; // 主文本色
@text-color-secondary : rgb(253, 202, 107); // 次文本色
@disabled-color : rgba(0, 0, 0, .25); // 失效色
@border-radius-base: 4px; // 组件/浮层圆角
@border-color-base: #d9d9d9; // 边框色
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // 浮层阴影

body,html,#app{
    width: 100%;
    height: 100%;
}
.w200{
    width: 200px;
}
.w300{
    width: 300px;
}
.w400{
    width: 400px;
}
.ml20{
    margin-left: 20px;
}
.mr20{
    margin-right: 20px;
}
.mt20{
    margin-top: 20px;
}
.mb20{
    margin-bottom: 20px;
}

